<%- contentFor('HomePage') %>
<section class="home">
  <div class="jumbotron text-center">
    Welcome To Home page <br /> <br /><br />
    <a href="/"><button class="btn btn-success">Get started</button></a>
    <a href="/contact"><button class="btn btn-primary">Contact Us</button></a>
  </div>
  </section>
  <%- contentFor('Body') %>
  <h6>Lorem Ipsium </h6>
